node/node_modules
dbdata/mysql
dbdata/nodedb
dbdata/performance_schema
dbdata/sys
dbdata/auto.cnf
dbdata/ca-key.pem
dbdata/ca.pem
dbdata/client-cert.pem
dbdata/client-key.pem
dbdata/ib_buffer_pool
dbdata/ib_logfile0
dbdata/ib_logfile1
dbdata/ibdata1
dbdata/ibtmp1
dbdata/private_key.pem
dbdata/public_key.pem
dbdata/server-cert.pem
dbdata/server-key.pem
